.footer__column-link {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
  transition: opacity 0.5s ease;
}
.footer__column-link:hover {
  opacity: 0.6;
}