.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}
.header__title {
  width: 730px;
  display: flex;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  padding-left: 64px;
  z-index: 3;
}
.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}
.header__link{
  color:#2f80ed;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  margin-top: 64px;
  right: 0;
  top: 0;
  z-index: 1;
}
.description {
  display: flex;
  margin-top: 100px;
  min-height: auto;
}
.two-columns {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
  }
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
}
.two-columns__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  padding-bottom: 30px;
}
.two-columns__paragraph:last-child {
  padding-bottom: 0;
}
.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  text-align: center;
  width: 60%;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15;
  margin: 0 auto 0;
}
.section-subtitle {
  text-align: center;
  width: 60%;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 20px auto 0;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1100px;
  margin: auto;
  list-style-type: none;
  padding: 0;
}
.table__cell {
 width: 250px;
 margin-top: 60px;
}
.table__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  margin: 0;
}
.table__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin: 20px 0 0 0;
}
.feynman {
  background: no-repeat left bottom url('../images/feynman.png'), #f2f2f2;
  background-size: 867px 637px;
  position: relative;
  display: flex;
  min-height: 890px;
  margin: auto;
  flex-direction: column;
}
.feynman__title {
  position: relative;
  width: 648px;
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 120px;
  line-height: 1.15;
  z-index: 5;
  margin: 100px 0 70px 0;
}
.feynman__subtitle {
  margin: 0;
  align-self: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  z-index: 5;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}
/* и элемента с модификатором вида ключ-значение */
.kaufman {
  overflow: hidden;
  position: relative;
  background-color:  #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
  padding: 0;
  list-style-type: none;
}
.section-title_theme_dark {
  position: relative;
  z-index: 5;
}
.section-subtitle_theme_dark {
  position: relative;
  z-index: 5;
}
.kaufman__triagle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
  z-index: 1;
  width: 877px;
  height: 877px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex: 1;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__author {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 18px 0;
}
.footer__column-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  white-space: nowrap;
}
.footer__column-link {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
}
.footer__column-links {
  margin: 20px 0 16px 0;
  list-style: none;
  padding-left: 0;
}
.footer__social-icon {
  display: flex;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  flex-direction: row;
  align-items: center;
}